<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SetupPoc Tests</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{content-for 'head'}}
    {{content-for 'test-head'}}

    <link rel="stylesheet" href="assets/vendor.css">
    <link rel="stylesheet" href="assets/setup-poc.css">
    <link rel="stylesheet" href="assets/test-support.css">
    <style>
      #ember-testing-container {
        position: absolute;
        background: white;
        bottom: 0;
        right: 0;
        width: 640px;
        height: 384px;
        overflow: auto;
        z-index: 9999;
        border: 1px solid #ccc;
      }
      #ember-testing {
        zoom: 50%;
      }
    </style>

    {{content-for 'head-footer'}}
    {{content-for 'test-head-footer'}}
  </head>
  <body>

    {{content-for 'body'}}
    {{content-for 'test-body'}}
    <script src="assets/vendor.js"></script>
    <script src="assets/test-support.js"></script>
    <script src="assets/setup-poc.js"></script>
    <script src="testem.js"></script>
    <script src="assets/test-loader.js"></script>

    {{content-for 'body-footer'}}
    {{content-for 'test-body-footer'}}
  </body>
</html>
