<h2 id='title'>Welcome to Ember.js</h2>

{{input value=secret class="secret-value"}}
<button class = "check-password" {{action checkPassword}}>
Check Password
</button>

<hr>

{{#if unlocked}}
	<img class="surprise" src="http://i.imgur.com/YuDUg7q.jpg">
{{/if}}

